# Yocto build directory - never commit this
build-rpi4/
build-qemu/
build-jetson/
build/
notes/
viz/

# Yocto downloads cache
downloads/

# Yocto sstate cache
sstate-cache/

# Poky and other layers - cloned separately
poky/
meta-raspberrypi/
meta-openembedded/
meta-tegra

# Wi-Fi credentials - NEVER commit
meta-safemon/recipes-connectivity/wpa-supplicant/files/wpa_supplicant.conf

# cross-compile
out/

# Python
__pycache__/
*.pyc
*.pyo

# CMake build artifacts
safemon/build/
*.o
*.a
*.so

# Editor files
.vscode/
.idea/
*.swp
*.swo
