[Unit]
Description=Safemon GPU Display
After=safemon-app.service weston.service
Wants=safemon-app.service weston.service

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=/run/wayland-0
ExecStart=/usr/bin/safemon-display
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target